[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
	branch = v2
[submodule "lib/wamr"]
	path = lib/wamr
	url = https://github.com/berkuteagle/wasm-micro-runtime.git
	branch = native_memory_import
